footer {
    width: 100%;
    max-width: $tablet;
    padding-block: 20px;
    background: $mainColor;
    display: flex;
    flex-direction: column;
    align-items: center;


    .footerText {
        color: #fff;
        font-size: .9rem;
        font-weight: 200;
        line-height: 1.5rem;
        text-align: center;
        a{
            color: #fff;
            font-style: italic;
            text-decoration: underline;
            &:hover {
                color: $secondColor
            }
        }
        em {
            font-weight: 100;
        }
    }
}