// VARIABLES & MIXINS
$navbar-height: 50px;
$banner-height: 600px;
$burgerLine-thickness: 3px;
$burger-height: 22px; // paire obligatoirement !
$burgerLine3-top: calc($burger-height - $burgerLine-thickness); // bar du bas
$burgerLine2-top: $burgerLine3-top / 2; // bar du milieu
$burgerLine1-top: 0; // bar du haut
$burger-timing: 300ms;

@mixin headerHeight {
    height: calc($navbar-height + $banner-height);
    max-height: 50vh;
}

//////////////////////////////////////////////////////////////////////////////////

header {
    width: 100vw;
    @include headerHeight();
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
    height: $navbar-height;
    padding-inline: 5vw;
    @include responsive($desktop) {
        padding-left: calc((100vw - #{$desktop}) / 2 + 20px);
        padding-right: calc((100vw - #{$desktop}) / 2 + 20px);
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;

    background: $mainColor;
    box-shadow: 0px 1px 10px rgba(#000, 0.2), 0px 5px 20px rgba(#000, 0.4);

    &__logo {
        height: 100%;
        &__image {
            height: 100%;
            padding-block: 8px;
            object-fit: contain;
        }
    }

    &.desktop {
        .navbar__links {
            display: flex;
            gap: 20px;

            &__link {
                & > a::after {
                    content: "";
                    display: block;
                    width: 0%;
                    height: 2px;
                    border-radius: 2px;
                    background-color: $secondColor;
                    transition: width 200ms ease-in-out;
                }

                &:hover {
                    & > a::after {
                        width: 100%;
                    }
                }
            }
        }

        .burger {
            display: none;
        }
    }

    &.mobile {
        background: $mainColor;

        // BURGER
        .burger {
            width: 35px;
            height: $burger-height;
            position: relative;

            .lines {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all $burger-timing ease-in-out;
            }

            .bar {
                width: 100%;
                height: $burgerLine-thickness;
                border-radius: 20px;
                background: #fff;
                pointer-events: none;
                position: absolute;

                &:nth-child(1) {
                    top: $burgerLine1-top;
                    transform: rotate(0);
                    transition: transform $burger-timing ease-in-out,
                        top $burger-timing $burger-timing ease-in-out;
                }
                &:nth-child(2) {
                    top: $burgerLine2-top;
                    transition: all 100ms $burger-timing ease-in-out;
                }
                &:nth-child(3) {
                    top: $burgerLine3-top;
                    transform: rotate(0);
                    transition: transform $burger-timing ease-in-out,
                        top $burger-timing $burger-timing ease-in-out;
                }
            }
            .lines {
                transition: transform $burger-timing ease-in-out;
            }
        }
        // BURGER OUVERT
        .burger.openNav {
            .bar {
                &:nth-child(1) {
                    top: $burgerLine2-top;
                    transform: rotate(45deg);
                    transition: top $burger-timing ease-in-out,
                        transform $burger-timing $burger-timing ease-in-out;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    top: $burgerLine2-top;
                    transform: rotate(-45deg);
                    transition: top $burger-timing ease-in-out,
                        transform $burger-timing $burger-timing ease-in-out;
                }
            }
            .lines {
                transition: transform $burger-timing $burger-timing ease-in-out;
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
        // LINKS
        .navbar__links {
            width: 0%;
            height: calc(100vh - $navbar-height);
            position: absolute;
            top: $navbar-height;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 15px;
            padding-top: 20px;
            background: $mainColor;
            overflow: hidden;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

            transition: width $burger-timing ease-in-out;

            &__link {
                width: 100%;
                text-align: right;
                transform: translateX(101%);

                a {
                    width: 100%;
                    display: block;
                    text-align: right;
                    padding: 5px;
                    padding-right: $safeZone-sidePage;

                    transition: letter-spacing 200ms ease-in-out,
                        font-weight 200ms ease-in-out;

                    &:hover,
                    &:active {
                        background: lighten($color: $mainColor, $amount: 10);
                    }
                }
            }
        }
        // LINKS OPEN
        .navbar__links.openNav {
            width: 100%;
            transition: width $burger-timing ease-in-out;

            .navbar__links__link {
                transform: translateX(0);
                transition: transform $burger-timing $burger-timing ease-in-out;
            }

            @for $i from 1 through 4 {
                .navbar__links__link:nth-child(#{$i}) {
                    transition-delay: #{($i) * calc($burger-timing/4)};
                }
            }
        }
    }
}

// BANNER
.banner {
    width: 100%;
    max-width: $desktop;
    @include headerHeight();
    // height: 50vh;
    // // height: $banner-height;
    position: fixed;
    top: $navbar-height;
    z-index: -1;
    overflow: hidden;

    &__image {
        @include headerHeight();
        width: 100%;
        object-fit: cover;
    }

    &__title {
        min-width: 50%;
        padding: 0 30px;
        text-align: center;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(#000000, 0.3);
        border: solid 2px #fff;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            border: solid 1px #fff;
        }
    }
}
