main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.mainContainer {
    width: 100%;
    max-width: $tablet;
    height: 500vh; ////////////////////////// ToDelete
    padding-block: 30px;
    // padding-inline: $safeZone-sidePage;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #fff;
    border-radius: 30px 30px 0 0;
}
