*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; 
}

body {
    background: $mainColor-light;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
