.pinkTouchBanner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        width: 100%;
        max-width: 1200px;
        margin-bottom: 50px;

        &.mobile {
            @include responsive($tablet) {
                display: none;
            }
        }
        &.desktop {
            display: none;
            @include responsive($tablet) {
                display: block;
            }
        }
    }
    
    &__text {
        width: 100%;
        padding-inline: $safeZone-sidePage;
        text-align: center;
        font-style: italic;
        color: #fff;
    }
}
