#home {
    .bannerFullPage {
        .bannerFullPage__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__draw {
                width: 100%;
                max-width: 500px;
                max-height: 70vh;
                margin-inline: $safeZone-sidePage;
                object-fit: cover;
                object-position: bottom;
            }

            .countdown {
                flex: 1;
            }
        }
    }

    .mainSection {
        &:first-of-type {
            border: none;
        }
    }
}

.bridesContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include responsive(650px) {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 0;
        position: relative;

        .esperluette {
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .brides {
            width: 80%;
        }
    }

    .esperluette {
        height: 80px;
    }

    .brides {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__image {
            height: 200px;
            width: 200px;
            margin-bottom: 20px;
            object-fit: cover;
            border: solid 5px #fff;
            border-radius: 100%;
            box-shadow: $boxShadow;
        }

        &__text {
            width: 100%;
            padding-inline: 10%;

            .firstname {
                font-family: "Prata", serif;
                font-size: 1.8rem;
                line-height: 1.8rem;
            }
            .lastname {
                font-size: 1.2rem;
                margin-bottom: 5px;
            }
            .text {
                font-size: 0.9rem;
            }
        }
    }
}

.mainSection:has(.carousel) {
    padding-inline: 0;
    border: none;
}

.carousel {
    width: 100%;

    &__wrapper {
        width: 100%;
        height: 50vw;
        max-height: 500px;
        position: relative;

        .chevron {
            @include iconInteractive();
            position: absolute;
            top: 50%;
            z-index: 1;
            transform: translateY(-50%);
            transition: 150ms ease-in-out;
            &:hover {
                transform: translateY(-50%) scale(1.05);
                color: #fff;
                border-color: #fff;
            }
        }
        .fa-chevron-left {
            left: 15px;
        }
        .fa-chevron-right {
            right: 15px;
        }

        &__dots {
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            display: flex;
            gap: 8px;

            .fa-heart {
                font-size: 0.9rem;
                &.fa-regular {
                    color: #fff;
                }
                &.fa-solid {
                    color: rgba($secondColor, 0.6);
                    -webkit-text-stroke: 1px #fff;
                }
            }
        }

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.7;

            &.fade {
                opacity: 1;
                transition: opacity 500ms ease-in-out;
            }
        }
    }

    &__text {
        padding-inline: $safeZone-sidePage;
        margin-top: 10px;
        text-align: center;
        font-style: italic;

        &__title {
            font-size: 1.1rem;
            font-weight: 500;
            color: $secondColor;
        }
        &__subtitle {
            font-size: 0.9rem;
        }
    }
}

.legendContainer {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;

    .legend {
        flex: 1 0 40%;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &__color {
            height: 20px;
            width: 20px;
            border-radius: 100%;

            &.groom {
                background: $mainColor;
            }
            &.bride {
                background: $secondColor;
            }
        }
    }
}

.witnessesContainer {
    margin-bottom: 40px;

    width: 100%;
    padding-inline: $safeZone-sidePage;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    .witnessCard {
        @include card(100%);
        min-width: 250px;
        max-width: 400px;

        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        overflow: hidden;

        &__headline {
            width: 70%;
            height: 10px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;

            &.bride {
                background: $secondColor;
            }
            &.groom {
                background: $mainColor;
            }
            &.gold {
                background: linear-gradient(
                    75deg,
                    #bf953f,
                    #fcf6ba,
                    #b38728,
                    #f8f1a4,
                    #aa771c
                );
            }
        }
        &__image {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            overflow: hidden;

            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                transition: transform 500ms ease-in-out;
            }
        }
        &__textContent {
            width: 100%;
            padding-inline: 15px;
            padding-bottom: 15px;
            text-align: center;
            
            .firstname {
                font-size: 1.2rem;
                font-weight: 600;
            }
            .lastname {
                font-size: 1rem;
                margin-bottom: 10px;
            }
            .short {
                max-height: 0;
                padding-inline: 10px;
                font-size: 0.9rem;
                font-style: italic;
                position: relative;
                overflow: hidden;
                border-radius: 10px;
                background: $mainColor-light;
                transition: 500ms ease-in-out;
                
                p {
                    max-height: 0;
                    overflow: hidden;
                    transition: 250ms 250ms ease-in-out;
                }


                .line {
                    width: 0;
                    height: 2px;
                    background: $mainColor;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: width 250ms ease-in-out;
                }
                &.open {
                    max-height: 5000px;
                    padding-block: 10px;

                    p {
                        max-height: 500px;
                    }

                    .line {
                        width: 100px;
                    }
                }
            }
        }

    }

    &.MC {
        .short {
            padding-inline: 10px;
        }
    }
}
