#program {
    .banner {
        &__image {
            object-position: bottom;
        }
    }

    .mainSection {
        border: none;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
    a {
        color: $secondColor;
        &:hover{
            text-decoration: underline;
        }
    }
}

.daySection {
    width: 100%;
    max-height: 50px;
    position: relative;
    overflow: hidden;
    border: solid 2px $secondColor;
    border-radius: 10px;
    box-shadow: $boxShadow;

    transition: 500ms 50ms ease-in-out;

    &__header {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        background: $secondColor;

        input[type="checkbox"] {
            display: none;

            &:checked {
                & ~ .daySection__header__chevron {
                    transform: rotate(0);
                }
            }
        }

        &__title {
            width: 100%;
            padding-top: 8px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 1.3rem;
            font-weight: 700;
            color: #fff;
            user-select: none;
        }

        &__chevron {
            color: #fff;
            font-size: 1.3rem;
            position: absolute;
            top: 12px;
            right: 15px;
            transform: rotate(-90deg);
            transition: 250ms ease-in-out;
        }
    }

    &__articleContainer {
        position: relative;
        margin-inline: 3vw;
        margin-block: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .timeScale {
            width: 2px;
            height: 100%;
            background: $mainColor-light;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .programmArticle {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 30px;
            &:nth-child(even) {
                flex-direction: row-reverse;
                .programmArticle__imgWrapper img {
                    object-position: left;
                }
                .programmArticle__text {
                    text-align: right;
                }
            }

            &__imgWrapper {
                width: 40%;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: right;
                }
            }

            &__heart {
                font-size: 1.5rem;
                color: $secondColor;
                position: relative;
                z-index: 1;
            }

            &__text {
                width: 40%;
                &-title {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
                &-timing {
                    font-size: 1.1rem;
                }
            }
        }
    }
}
