@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css");
.shake {
  animation: shake 300ms ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.jumpButton {
  animation-name: jumpButton;
  animation-duration: 1000ms;
}

@keyframes jumpButton {
  0% {
    transform: translateY(0) scale(1, 1);
  }
  10% {
    transform: translateY(0) scale(1.3, 0.8);
  }
  11% {
    transform: translateY(0) scale(0.7, 1.2);
    animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  39% {
    transform: translateY(-50px) scale(1);
    animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  40% {
    transform: translateY(-50px) scale(1);
  }
  41% {
    transform: translateY(-50px) scale(1);
    animation-timing-function: cubic-bezier(1, 0, 1, 1);
  }
  69% {
    transform: translateY(0px) scale(1, 1);
    animation-timing-function: cubic-bezier(1, 0, 1, 1);
  }
  70% {
    transform: translateY(0) scale(1.5, 0.4);
  }
  80% {
    transform: translateY(0) scale(0.8, 1.2);
  }
  90% {
    transform: translateY(0) scale(1.1, 0.8);
  }
  100% {
    transform: translateY(0) scale(1, 1);
  }
}
@keyframes checkboxHeart {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  60%, 80% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  70%, 100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalScaleIn {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  80% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e1eefa;
}

button {
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* WebKit (Safari/Chrome) */
  margin: 0; /* Supprime les marges par défaut */
}

* {
  font-family: "Poppins", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 9vw;
  font-weight: 600;
  color: #fff;
}
@media screen and (min-width: 900px) {
  h1 {
    font-size: 7vw;
  }
}
@media screen and (min-width: 1080px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #e32d73;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: #273a7c;
  margin-bottom: 20px;
}

p {
  color: #273a7c;
  font-weight: 400;
}

strong {
  color: #e32d73;
  font-weight: 500;
}

em {
  font-size: 0.85rem;
  font-style: italic;
  font-weight: 300;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 90vh;
}

.mainContent {
  flex: 1;
  width: 100%;
  height: 100%;
  max-width: 900px;
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 30px 30px 0 0;
}
.mainContent__title {
  width: 100%;
  padding-inline: 5vw;
  text-align: center;
}
.mainContent__subtitle {
  width: 100%;
  padding-inline: 5vw;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mainSection {
  width: 100%;
  padding-inline: 5vw;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 2px #273a7c;
  transition: 250ms ease-in-out;
}
.mainSection__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 50px;
  padding-inline: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #273a7c;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 5px 20px rgba(0, 0, 0, 0.4);
}
.navbar .navbar__links__link a {
  color: #fff;
}
.navbar__logo {
  height: 100%;
}
.navbar__logo__image {
  height: 100%;
  padding-block: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar.desktop .navbar__links {
  display: flex;
  gap: 25px;
}
.navbar.desktop .navbar__links__link a {
  font-size: 1rem;
}
.navbar.desktop .navbar__links__link a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 2px;
  background-color: #e32d73;
  transition: width 200ms ease-in-out;
}
.navbar.desktop .navbar__links__link a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #e32d73;
}
.navbar.desktop .navbar__links__link:hover > a::after {
  width: 100%;
}
.navbar.desktop .burger {
  display: none;
}
.navbar.mobile {
  background: #273a7c;
}
.navbar.mobile .burger {
  width: 35px;
  height: 22px;
  position: relative;
}
.navbar.mobile .burger .lines {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease-in-out;
}
.navbar.mobile .burger .bar {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background: #fff;
  pointer-events: none;
  position: absolute;
}
.navbar.mobile .burger .bar:nth-child(1) {
  top: 0;
  transform: rotate(0);
  transition: transform 300ms ease-in-out, top 300ms 300ms ease-in-out;
}
.navbar.mobile .burger .bar:nth-child(2) {
  top: 9.5px;
  transition: all 100ms 300ms ease-in-out;
}
.navbar.mobile .burger .bar:nth-child(3) {
  top: 19px;
  transform: rotate(0);
  transition: transform 300ms ease-in-out, top 300ms 300ms ease-in-out;
}
.navbar.mobile .burger .lines {
  transition: transform 300ms ease-in-out;
}
.navbar.mobile .burger.openNav .bar:nth-child(1) {
  top: 9.5px;
  transform: rotate(45deg);
  transition: top 300ms ease-in-out, transform 300ms 300ms ease-in-out;
}
.navbar.mobile .burger.openNav .bar:nth-child(2) {
  opacity: 0;
}
.navbar.mobile .burger.openNav .bar:nth-child(3) {
  top: 9.5px;
  transform: rotate(-45deg);
  transition: top 300ms ease-in-out, transform 300ms 300ms ease-in-out;
}
.navbar.mobile .burger.openNav .lines {
  transition: transform 300ms 300ms ease-in-out;
  transform: translate(-50%, -50%) rotate(360deg);
}
.navbar.mobile .navbar__links {
  width: 0%;
  height: calc(100vh - 50px);
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  padding-top: 20px;
  background: #273a7c;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: width 300ms ease-in-out;
}
.navbar.mobile .navbar__links__link {
  width: 100%;
  text-align: right;
  transform: translateX(101%);
}
.navbar.mobile .navbar__links__link a {
  width: 100%;
  display: block;
  text-align: right;
  padding: 5px;
  padding-right: 5vw;
  font-size: 2rem;
  font-weight: 400;
  transition: letter-spacing 200ms ease-in-out, font-weight 200ms ease-in-out;
}
.navbar.mobile .navbar__links__link a:hover, .navbar.mobile .navbar__links__link a:active {
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.navbar.mobile .navbar__links__link a:hover, .navbar.mobile .navbar__links__link a:active {
  background: #334ca3;
}
.navbar.mobile .navbar__links.openNav {
  width: 100%;
  transition: width 300ms ease-in-out;
}
.navbar.mobile .navbar__links.openNav .navbar__links__link {
  transform: translateX(0);
  transition: transform 300ms 300ms ease-in-out;
}
.navbar.mobile .navbar__links.openNav .navbar__links__link:nth-child(1) {
  transition-delay: 75ms;
}
.navbar.mobile .navbar__links.openNav .navbar__links__link:nth-child(2) {
  transition-delay: 150ms;
}
.navbar.mobile .navbar__links.openNav .navbar__links__link:nth-child(3) {
  transition-delay: 225ms;
}
.navbar.mobile .navbar__links.openNav .navbar__links__link:nth-child(4) {
  transition-delay: 300ms;
}

footer {
  width: 100%;
  max-width: 900px;
  padding-block: 20px;
  background: #273a7c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footerText {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.5rem;
  text-align: center;
}
footer .footerText a {
  color: #fff;
  font-style: italic;
  text-decoration: underline;
}
footer .footerText a:hover {
  color: #e32d73;
}

.bannerFullPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.bannerFullPage__background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.bannerFullPage__content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.banner {
  width: 100vw;
  height: 50vh;
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: -1;
}
.banner__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.banner__title {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-inline: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border: solid 2px #fff;
}
.banner__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: solid 1px #fff;
}

.scrollbutton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  color: #fff;
}
.scrollbutton .scrollBtn {
  height: 50px;
  width: 50px;
  border-radius: 75px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.2rem;
  font-weight: 700;
  transform-origin: bottom;
}
.scrollbutton .scrollBtn::before {
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 75px;
}
.scrollbutton .scrollBtn::after {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px #fff;
  border-radius: 75px;
}

.countdown {
  flex: 1;
  width: 100%;
  max-width: 650px;
  padding-inline: 3vh;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.countdown .counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countdown .unitText,
.countdown .unit {
  color: #fff;
}
.countdown .unit {
  margin-bottom: 5px;
  height: 20vw;
  width: 20vw;
  border-radius: 75px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 3.8vh;
  font-weight: 700;
  min-height: 70px;
  max-height: 100px;
  min-width: 70px;
  max-width: 100px;
}
.countdown .unit::before {
  content: "";
  height: calc(20vw - 10px);
  width: calc(20vw - 10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 75px;
}
.countdown .unit::after {
  content: "";
  height: calc(20vw - 20px);
  width: calc(20vw - 20px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px #fff;
  border-radius: 75px;
}
.countdown .unit::before {
  min-height: 60px;
  max-height: 90px;
  min-width: 60px;
  max-width: 90px;
}
.countdown .unit::after {
  min-height: 50px;
  max-height: 80px;
  min-width: 50px;
  max-width: 80px;
}

.cta {
  all: unset;
  cursor: pointer;
  padding-inline: 20px;
  padding-block: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  background: #fff;
  border: solid 2px #e32d73;
  border-radius: 10px;
  overflow: hidden;
  transition: all 250ms ease-in-out;
}
.cta__icon, .cta__text {
  color: #e32d73;
}
.cta__icon {
  font-size: 1.2rem;
  position: relative;
  transition: transform 250ms ease-in;
}
.cta__text {
  font-weight: 600;
}
.cta:hover {
  background: #e32d73;
}
.cta:hover .cta__icon,
.cta:hover .cta__text {
  color: #fff;
}
.cta:hover .cta__icon {
  top: -2px;
  transform: rotate(45deg);
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  animation: modalFadeIn 300ms ease-in-out;
}
.modal__wrapper {
  width: 80vw;
  max-width: 600px;
  padding: 30px;
  padding-top: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0.2px 0.2px 0.9px -7px rgba(0, 0, 0, 0.115), 0.5px 0.5px 2.5px -7px rgba(0, 0, 0, 0.165), 1.2px 1.2px 6px -7px rgba(0, 0, 0, 0.215), 4px 4px 20px -7px rgba(0, 0, 0, 0.33);
  animation: modalScaleIn 300ms ease-in-out;
}
.modal__wrapper .closeBtn {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px lightgrey;
  border-radius: 100%;
  color: lightgrey;
  transition: 150ms ease-in-out;
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal__wrapper .closeBtn:hover, .modal__wrapper .closeBtn:active {
  border-color: #e32d73;
  color: #e32d73;
}
.modal__wrapper .inputContainer {
  gap: 30px;
}
.modal__wrapper .guestsBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup {
  width: 40vw;
  max-width: 450px;
  min-width: 280px;
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  z-index: 10;
  padding-block: 6vh;
  text-align: center;
  background: #273a7c;
  border-radius: 82% 18% 77% 23%/35% 79% 21% 65%;
  box-shadow: 0 5px 10px black;
  opacity: 0;
  transform: translateX(500px);
  transition: 1s ease-out;
}
.popup__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.popup__container__text {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup__container__text h3 {
  color: #fff;
}
.popup__container .closeBtn {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #fff;
  border-radius: 100%;
  color: #fff;
  transition: 150ms ease-in-out;
  position: absolute;
  top: 15px;
  right: 50px;
}
.popup__container .closeBtn:hover, .popup__container .closeBtn:active {
  border-color: #e32d73;
  color: #e32d73;
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25vh;
}
.login__background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -10;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.login .logo {
  width: 70vw;
  max-width: 350px;
  margin-bottom: 20px;
}

.loginForm {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.loginForm__input {
  width: 60vw;
  max-width: 250px;
  padding: 8px;
  border-radius: 50px;
  border: none;
  text-align: center;
  color: #e32d73;
}
.loginForm__input::-moz-placeholder {
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.loginForm__input::placeholder {
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.loginForm .visibility,
.loginForm .submit {
  position: absolute;
}
.loginForm .visibility {
  color: #e1eefa;
  left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.loginForm .submit {
  color: #e32d73;
  right: 10px;
}

.logError {
  margin-top: 10px;
  color: #e1eefa;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 300;
  position: relative;
  top: -40px;
  z-index: -1;
  transition: 300ms ease-in-out;
}

#home .bannerFullPage .bannerFullPage__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home .bannerFullPage .bannerFullPage__content__draw {
  width: 100%;
  max-width: 550px;
  max-height: 70vh;
  margin-inline: 5vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
#home .bannerFullPage .bannerFullPage__content .countdown {
  flex: 1;
}
#home .mainSection:first-of-type {
  border: none;
}

.bridesContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 650px) {
  .bridesContainer {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 0;
    position: relative;
  }
  .bridesContainer .esperluette {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bridesContainer .brides {
    width: 80%;
  }
}
.bridesContainer .esperluette {
  height: 80px;
}
.bridesContainer .brides {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.bridesContainer .brides__image {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 5px #fff;
  border-radius: 100%;
  box-shadow: 0.2px 0.2px 0.9px -7px rgba(0, 0, 0, 0.115), 0.5px 0.5px 2.5px -7px rgba(0, 0, 0, 0.165), 1.2px 1.2px 6px -7px rgba(0, 0, 0, 0.215), 4px 4px 20px -7px rgba(0, 0, 0, 0.33);
}
.bridesContainer .brides__text {
  width: 100%;
  padding-inline: 10%;
}
.bridesContainer .brides__text .firstname {
  font-family: "Prata", serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
}
.bridesContainer .brides__text .lastname {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.bridesContainer .brides__text .text {
  font-size: 0.9rem;
}

.mainSection:has(.carousel) {
  padding-inline: 0;
  border: none;
}

.carousel {
  width: 100%;
}
.carousel__wrapper {
  width: 100%;
  height: 50vw;
  max-height: 500px;
  position: relative;
}
.carousel__wrapper .chevron {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: solid 3px rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  transition: 150ms ease-in-out;
}
.carousel__wrapper .chevron:hover {
  transform: translateY(-50%) scale(1.05);
  color: #fff;
  border-color: #fff;
}
.carousel__wrapper .fa-chevron-left {
  left: 15px;
}
.carousel__wrapper .fa-chevron-right {
  right: 15px;
}
.carousel__wrapper__dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  gap: 8px;
}
.carousel__wrapper__dots .fa-heart {
  font-size: 0.9rem;
}
.carousel__wrapper__dots .fa-heart.fa-regular {
  color: #fff;
}
.carousel__wrapper__dots .fa-heart.fa-solid {
  color: rgba(227, 45, 115, 0.6);
  -webkit-text-stroke: 1px #fff;
}
.carousel__wrapper__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}
.carousel__wrapper__image.fade {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
.carousel__text {
  padding-inline: 5vw;
  margin-top: 10px;
  text-align: center;
  font-style: italic;
}
.carousel__text__title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #e32d73;
}
.carousel__text__subtitle {
  font-size: 0.9rem;
}

.legendContainer {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.legendContainer .legend {
  flex: 1 0 40%;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.legendContainer .legend__color {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}
.legendContainer .legend__color.groom {
  background: #273a7c;
}
.legendContainer .legend__color.bride {
  background: #e32d73;
}

.witnessesContainer {
  margin-bottom: 40px;
  width: 100%;
  padding-inline: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.witnessesContainer .witnessCard {
  width: 100%;
  border-radius: 15px;
  font-size: 1.1rem;
  box-shadow: 0.2px 0.2px 0.9px -7px rgba(0, 0, 0, 0.115), 0.5px 0.5px 2.5px -7px rgba(0, 0, 0, 0.165), 1.2px 1.2px 6px -7px rgba(0, 0, 0, 0.215), 4px 4px 20px -7px rgba(0, 0, 0, 0.33);
  overflow: hidden;
  min-width: 250px;
  max-width: 400px;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
.witnessesContainer .witnessCard__headline {
  width: 70%;
  height: 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.witnessesContainer .witnessCard__headline.bride {
  background: #e32d73;
}
.witnessesContainer .witnessCard__headline.groom {
  background: #273a7c;
}
.witnessesContainer .witnessCard__headline.gold {
  background: linear-gradient(75deg, #bf953f, #fcf6ba, #b38728, #f8f1a4, #aa771c);
}
.witnessesContainer .witnessCard__image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}
.witnessesContainer .witnessCard__image img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 500ms ease-in-out;
}
.witnessesContainer .witnessCard__textContent {
  width: 100%;
  padding-inline: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.witnessesContainer .witnessCard__textContent .firstname {
  font-size: 1.2rem;
  font-weight: 600;
}
.witnessesContainer .witnessCard__textContent .lastname {
  font-size: 1rem;
  margin-bottom: 10px;
}
.witnessesContainer .witnessCard__textContent .short {
  max-height: 0;
  padding-inline: 10px;
  font-size: 0.9rem;
  font-style: italic;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #e1eefa;
  transition: 500ms ease-in-out;
}
.witnessesContainer .witnessCard__textContent .short p {
  max-height: 0;
  overflow: hidden;
  transition: 250ms 250ms ease-in-out;
}
.witnessesContainer .witnessCard__textContent .short .line {
  width: 0;
  height: 2px;
  background: #273a7c;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 250ms ease-in-out;
}
.witnessesContainer .witnessCard__textContent .short.open {
  max-height: 5000px;
  padding-block: 10px;
}
.witnessesContainer .witnessCard__textContent .short.open p {
  max-height: 500px;
}
.witnessesContainer .witnessCard__textContent .short.open .line {
  width: 100px;
}
.witnessesContainer.MC .short {
  padding-inline: 10px;
}

#confirm .banner__image {
  -o-object-position: bottom;
     object-position: bottom;
}
#confirm .mainContent__title {
  margin-bottom: 0;
}
#confirm .mainSection__text {
  width: 100%;
  margin-bottom: 20px;
  padding-inline: 10px;
}
#confirm .mainSection__text:not(:first-of-type) {
  margin-top: 50px;
}
#confirm .mainSection__text:not(:first-of-type)::before {
  content: "";
  width: 30%;
  height: 1px;
  background: #e32d73;
  display: block;
  position: relative;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
#confirm .mainSection__text p {
  margin-bottom: 6px;
}

#confirmForm {
  width: 100%;
}

#mainGuestBox {
  padding-block: 20px;
}
#mainGuestBox .formBtn {
  margin-top: 25px;
}
#mainGuestBox .inputContainer {
  display: flex;
  gap: 20px;
}

#mainGuestName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#mainGuestEmail {
  flex: 1;
  font-style: italic;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.guests {
  justify-content: space-between;
}
.guests .deleteBtn {
  padding-left: 8px;
  color: #b5d5f3;
  transition: 250ms ease-in-out;
}
.guests .deleteBtn:hover, .guests .deleteBtn:active {
  color: rgb(200, 0, 0);
}

.radioContainer {
  position: relative;
}
.radioContainer #resetForm {
  position: absolute;
  top: 50%;
  left: calc(50% + 125px);
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #e1eefa;
  transition: 250ms ease-out;
}
.radioContainer #resetForm:hover {
  color: rgb(200, 0, 0);
}
.radioContainer .radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.radioContainer .radio input[type=radio] {
  display: none;
}
.radioContainer .radio input[type=radio]:checked + span {
  background-color: #e32d73;
  color: #fff;
  box-shadow: 0 0 0 2px #e32d73;
}
.radioContainer .radio input[type=radio]:not(:checked) + span {
  background-color: #fff;
  color: #e32d73;
  box-shadow: 0 0 0 2px #e32d73;
}
.radioContainer .radio label span {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: block;
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  color: #e32d73;
  text-align: center;
  box-shadow: 0 0 0 2px #fff;
  transition: background-color 500ms ease-out;
}
.radioContainer .radio label:first-child span {
  border-radius: 8px 0 0 8px;
}
.radioContainer .radio label:last-child span {
  border-radius: 0 8px 8px 0;
  border-left: 2px solid #e32d73;
}

.formBtn {
  height: 40px;
  padding-inline: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: #e32d73;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.formBtn:hover {
  background: #c31a5b;
}
.formBtn.unable {
  background: lightgrey;
}

.checkbox .checkboxContainer {
  width: 100%;
}
.checkbox .checkboxContainer .checkHeart {
  display: flex;
  gap: 15px;
}
.checkbox .checkboxContainer .checkHeart .heartBtn {
  position: relative;
  width: 20px;
}
.checkbox .checkboxContainer .checkHeart .heartBtn .heart-full,
.checkbox .checkboxContainer .checkHeart .heartBtn .heart-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
}
.checkbox .checkboxContainer .checkHeart .heartBtn .heart-empty {
  color: #e32d73;
  transform: translate(-50%, -50%);
}
.checkbox .checkboxContainer .checkHeart .heartBtn .heart-full {
  background: #e32d73;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}
.checkbox .checkboxContainer input[type=checkbox] {
  display: none;
}
.checkbox .checkboxContainer input[type=checkbox]:checked + .checkHeart .heart-full {
  animation: checkboxHeart 300ms ease-in-out forwards;
}
.checkbox .quantity {
  display: flex;
}
.checkbox .quantity__button {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: #b5d5f3;
  border: solid 2px #b5d5f3;
  transition: 250ms ease-in-out;
}
.checkbox .quantity__button:hover, .checkbox .quantity__button:active {
  color: #e32d73;
  border: solid 2px #e32d73;
}
.checkbox .quantity__value {
  all: unset;
  height: 25px;
  width: 40px;
  text-align: center;
  color: #273a7c;
}

.cardConfirm {
  width: 100%;
  border-radius: 15px;
  font-size: 1.1rem;
  box-shadow: 0.2px 0.2px 0.9px -7px rgba(0, 0, 0, 0.115), 0.5px 0.5px 2.5px -7px rgba(0, 0, 0, 0.165), 1.2px 1.2px 6px -7px rgba(0, 0, 0, 0.215), 4px 4px 20px -7px rgba(0, 0, 0, 0.33);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardConfirm__section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-inline: 30px;
  padding-block: 10px;
  border-top: solid 1px #e1eefa;
}
.cardConfirm__section:first-child {
  margin-top: 2px;
  border: none;
}
.cardConfirm__section:last-child {
  margin-bottom: 2px;
}
.cardConfirm__section:not(:first-child) p {
  flex: 1;
}

.cardConfirmText {
  margin-top: -10px;
  padding-inline: 20px;
}

.inputContainer {
  width: 100%;
  padding-inline: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.inputContainer .inputText {
  all: unset;
  width: 100%;
  border-bottom: solid 1px #273a7c;
  padding: 3px 10px 3px 10px;
  color: #273a7c;
}
.inputContainer .inputText::-moz-placeholder {
  color: lightgrey;
  font-style: italic;
}
.inputContainer .inputText::placeholder {
  color: lightgrey;
  font-style: italic;
}

.displayError {
  margin-top: 10px;
  font-size: 0.8rem;
  font-style: italic;
  color: rgb(200, 0, 0);
}

.messageForm {
  width: 100%;
  border-radius: 15px;
  font-size: 1.1rem;
  box-shadow: 0.2px 0.2px 0.9px -7px rgba(0, 0, 0, 0.115), 0.5px 0.5px 2.5px -7px rgba(0, 0, 0, 0.165), 1.2px 1.2px 6px -7px rgba(0, 0, 0, 0.215), 4px 4px 20px -7px rgba(0, 0, 0, 0.33);
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 0.9rem;
  color: #273a7c;
}
.messageForm::-moz-placeholder {
  font-style: italic;
  color: lightgrey;
}
.messageForm::placeholder {
  font-style: italic;
  color: lightgrey;
}

.submitFormContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pinkTouchBanner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pinkTouchBanner__title {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
}
@media screen and (min-width: 900px) {
  .pinkTouchBanner__title.mobile {
    display: none;
  }
}
.pinkTouchBanner__title.desktop {
  display: none;
}
@media screen and (min-width: 900px) {
  .pinkTouchBanner__title.desktop {
    display: block;
  }
}
.pinkTouchBanner__text {
  width: 100%;
  padding-inline: 5vw;
  text-align: center;
  font-style: italic;
  color: #fff;
}

.giftBanner {
  width: 90%;
  max-width: 900px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -60%);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}
.giftBanner::after {
  content: "";
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  position: absolute;
  border-radius: 20px;
  border: solid 2px #273a7c;
}
.giftBanner__text {
  font-size: 2.2vh;
  font-weight: 500;
  text-align: center;
}

#infos .banner__image {
  -o-object-position: center;
     object-position: center;
}

#places {
  border: none;
}
#places .card {
  width: 100%;
  border-radius: 15px;
  font-size: 1.1rem;
  box-shadow: 0.2px 0.2px 0.9px -7px rgba(0, 0, 0, 0.115), 0.5px 0.5px 2.5px -7px rgba(0, 0, 0, 0.165), 1.2px 1.2px 6px -7px rgba(0, 0, 0, 0.215), 4px 4px 20px -7px rgba(0, 0, 0, 0.33);
  overflow: hidden;
  height: 300px;
  position: relative;
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#places .card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#places .card__icon {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: solid 3px rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  position: absolute;
  bottom: 15px;
  right: 15px;
  transition: 200ms ease-in-out;
}
#places .card__content {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  overflow-y: scroll;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#places .card__content__title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
#places .card__content__closeBtn {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px grey;
  border-radius: 100%;
  color: grey;
  transition: 150ms ease-in-out;
  position: fixed;
  top: 20px;
  right: 20px;
}
#places .card__content__closeBtn:hover, #places .card__content__closeBtn:active {
  border-color: #e32d73;
  color: #e32d73;
}
#places .card__content__description {
  flex: 1;
}
#places .card__content__description p {
  font-size: 0.9rem;
  margin-bottom: 6px;
}
#places .card__content__description p a {
  color: #e32d73;
}
#places .card__content__description p a:hover {
  text-decoration: underline;
}
#places .card__content__description img {
  display: block;
  margin: 0 auto;
  margin-top: -10px;
}
#places .card__content__adress {
  display: flex;
  align-items: center;
}
#places .card__content__adress .position {
  color: #e32d73;
  font-size: 1.3rem;
  margin-right: 15px;
}
#places .card__content__adress .text {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  color: #fff;
}
#places .card.open {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
#places .card.open .card__icon {
  opacity: 0;
}
#places .card.open .card__content {
  transform: rotateX(0deg);
}

#travel .travelCard {
  width: 100%;
  border-radius: 15px;
  font-size: 1.1rem;
  box-shadow: 0.2px 0.2px 0.9px -7px rgba(0, 0, 0, 0.115), 0.5px 0.5px 2.5px -7px rgba(0, 0, 0, 0.165), 1.2px 1.2px 6px -7px rgba(0, 0, 0, 0.215), 4px 4px 20px -7px rgba(0, 0, 0, 0.33);
  overflow: hidden;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
#travel .travelCard__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
#travel .travelCard__content__image {
  width: 15vw;
  max-width: 95px;
  min-width: 70px;
  height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}
#travel .travelCard__content__text {
  width: 100%;
}
#travel .travelCard__content__text h3 {
  margin: 0;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
}
#travel .travelCard__content__icon {
  color: #273a7c;
  font-size: 1.3rem;
  transform: rotate(-90deg);
  transition: transform 250ms ease-in-out;
}
#travel .travelCard__description {
  overflow: hidden;
  position: relative;
  max-height: 0;
  text-align: justify;
  font-size: 0.9rem;
  opacity: 0;
  transition: all 400ms ease-in-out;
}
#travel .travelCard__description p {
  margin-bottom: 5px;
}
#travel .travelCard__description p a {
  color: #e32d73;
}
#travel .travelCard__description p a:hover {
  text-decoration: underline;
}
#travel .travelCard__description::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 2px;
  width: 0%;
  background: #e32d73;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
#travel .travelCard.open {
  gap: 10px;
}
#travel .travelCard.open .travelCard__content__icon {
  transform: rotate(0deg);
  transition: transform 250ms ease-in-out;
}
#travel .travelCard.open .travelCard__description {
  max-height: 500px;
  padding-top: 15px;
  opacity: 1;
  transition: all 500ms ease-in-out;
}
#travel .travelCard.open .travelCard__description::before {
  width: 100%;
  opacity: 1;
  transition: all 500ms ease-in-out;
}

#program .banner__image {
  -o-object-position: bottom;
     object-position: bottom;
}
#program .mainSection {
  border: none;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#program a {
  color: #e32d73;
}
#program a:hover {
  text-decoration: underline;
}

.daySection {
  width: 100%;
  max-height: 50px;
  position: relative;
  overflow: hidden;
  border: solid 2px #e32d73;
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 0.9px -7px rgba(0, 0, 0, 0.115), 0.5px 0.5px 2.5px -7px rgba(0, 0, 0, 0.165), 1.2px 1.2px 6px -7px rgba(0, 0, 0, 0.215), 4px 4px 20px -7px rgba(0, 0, 0, 0.33);
  transition: 500ms 50ms ease-in-out;
}
.daySection__header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: #e32d73;
}
.daySection__header input[type=checkbox] {
  display: none;
}
.daySection__header input[type=checkbox]:checked ~ .daySection__header__chevron {
  transform: rotate(0);
}
.daySection__header__title {
  width: 100%;
  padding-top: 8px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.daySection__header__chevron {
  color: #fff;
  font-size: 1.3rem;
  position: absolute;
  top: 12px;
  right: 15px;
  transform: rotate(-90deg);
  transition: 250ms ease-in-out;
}
.daySection__articleContainer {
  position: relative;
  margin-inline: 3vw;
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.daySection__articleContainer .timeScale {
  width: 2px;
  height: 100%;
  background: #e1eefa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.daySection__articleContainer .programmArticle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.daySection__articleContainer .programmArticle:nth-child(even) {
  flex-direction: row-reverse;
}
.daySection__articleContainer .programmArticle:nth-child(even) .programmArticle__imgWrapper img {
  -o-object-position: left;
     object-position: left;
}
.daySection__articleContainer .programmArticle:nth-child(even) .programmArticle__text {
  text-align: right;
}
.daySection__articleContainer .programmArticle__imgWrapper {
  width: 40%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.daySection__articleContainer .programmArticle__imgWrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
}
.daySection__articleContainer .programmArticle__heart {
  font-size: 1.5rem;
  color: #e32d73;
  position: relative;
  z-index: 1;
}
.daySection__articleContainer .programmArticle__text {
  width: 40%;
}
.daySection__articleContainer .programmArticle__text-title {
  font-size: 1.3rem;
  font-weight: 500;
}
.daySection__articleContainer .programmArticle__text-timing {
  font-size: 1.1rem;
}