.countdown {
    flex: 1;

    width: 100%;
    max-width: 650px;
    padding-inline: 3vh;
    margin-top: 20px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    user-select: none;

    .counter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .unitText,
    .unit {
        color: #fff;
    }
    .unit {
        margin-bottom: 5px;
        @include whiteBtn(20vw, 3.8vh);
        
        min-height: 70px;
        max-height: 100px;
        min-width: 70px;
        max-width: 100px;

        &::before {
            min-height: calc(70px - 10px);
            max-height: calc(100px - 10px);
            min-width: calc(70px - 10px);
            max-width: calc(100px - 10px);
        }
        &::after {
            min-height: calc(70px - 20px);
            max-height: calc(100px - 20px);
            min-width: calc(70px - 20px);
            max-width: calc(100px - 20px);
        }
    }
}
