.scrollbutton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    color: #fff;

    .scrollBtn {
        @include whiteBtn(50px, 1.2rem);
        transform-origin: bottom;
    }
}