// @mixin myMixin { }
// @include myMixin;

// ******************************************************
// OK

// @include iconInfo($color);
@mixin iconInfo($color: rgba(#fff, 0.8)) {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 3px $color;
    color: $color;
    font-size: 1.2rem;
}

// @include card($width);
@mixin card($width: 100%) {
    width: $width;
    border-radius: 15px;
    font-size: 1.1rem;
    box-shadow: $boxShadow;
    overflow: hidden;
}


// ******************************************************
// A CLEANER

@mixin whiteBtn($size: 85px, $font-size: 2rem) {
    height: $size;
    width: $size;
    border-radius: 75px;
    background: rgba(#fff, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    font-size: $font-size;
    font-weight: 700;

    &::before {
        content: "";
        height: calc($size - 10px);
        width: calc($size - 10px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(#fff, 0.3);
        border-radius: 75px;
    }

    &::after {
        content: "";
        height: calc($size - 20px);
        width: calc($size - 20px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid 1px #fff;
        border-radius: 75px;
    }
}



@mixin closeBtn($color, $hoverColor: $secondColor) {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px $color;
    border-radius: 100%;
    color: $color;

    transition: 150ms ease-in-out;
    &:hover,
    &:active {
        border-color: $hoverColor;
        color: $hoverColor;
    }
}

@mixin responsive($responsive-width) {
    @media screen and (min-width: $responsive-width) {
        @content;
    }
}
