// COULEURS 
$mainColor: #273A7C;
$secondColor: #E32D73;
$mainColor-light: #e1eefa; //#DFF0FF
$secondColor-light: #FFE0F5;
$shadowLight : -5px -5px 8px #efefef;
$shadowDark : 5px 5px 8px #bfbfbf;

// SPACES
$safeZone-sidePage: 5vw;

$safeZone-block: 40px; 
$safeZone-inline: 5vw;  


// RESPONSIVE
$tablet: 768px; 
$desktop: 1080px;



